SECRET_KEY='generate-with-secret.token_urlsafe-50'
DEBUG=False
ALLOWED_HOSTS=codeplatoondemo.link,www.codeplatoondemo.link

SESSION_COOKIE_SECURE=False
SESSION_COOKIE_HTTPONLY=True
CSRF_COOKIE_SECURE=False

AUTH_COOKIE_SECURE=False
AUTH_COOKIE_SAMESITE=Lax